<div id="workspace_channel_sidebar" class="w-1/5 h-full grid grid-rows-[auto,1fr,75px]">
  <%= render(
    partial: 'partials/workspace_channel/members_list',
    locals: {
      workspace_channel: @workspace_channel,
      workspace: @workspace,
      user: current_user,
      channel_members: @channel_members
    }
  ) %>
</div>

<div class="w-4/5 h-full grid grid-rows-[7fr,1fr]">
  <div class="w-full row-start-1 bg-green-soft">HERE WILL BE DISPLAYED THE CONVERSATION</div>

  <div id="workspace_channel_new_message" class="w-full row-start-2 bg-green">
    <%= render(
      partial: 'partials/workspace_channel/new_message',
      locals: {
        workspace_channel: @workspace_channel,
        workspace: @workspace
      }
    ) %>
  </div>
</div>
