<div id="workspace_channel_sidebar" class="w-[22%] h-full grid grid-rows-[auto,1fr,75px]">
  <%= render(
    partial: 'partials/workspace_channel/members_list',
    locals: {
      channel: @channel,
      workspace: @workspace,
      user: current_user,
      channel_members: @channel_members
    }
  ) %>
</div>

<div id="workspace_channel_sidebar" class="w-[78%] h-full grid grid-rows-[4fr,1fr]">
  <div class="w-full row-start-1 bg-green">HERE WILL BE DISPLAYED THE CONVERSATION</div>
  <div class="w-full row-start-2 bg-red">HERE THE TEXT FIELD</div>
</div>
