<% if @message_creation_result == :success %>
  <%= turbo_stream.update(
    "notifications_bar",
    ""
  ) %>

  <%= turbo_stream.append(
    @destination.messages_turbo_tag,
    partial: "partials/workspace_channel/message",
    locals: { message: @message }
  ) %>
<% end %>

<% if @message_creation_result == :failure %>
  <%= turbo_stream.update(
    "notifications_bar",
    "<p class='alert'>#{@message}</p>"
  ) %>
<% end %>

<%= turbo_stream.update(
  @destination.message_box_turbo_tag,
  partial: "partials/workspace_channel/new_message",
  locals: { url: @destination.destination_url(@workspace) }
) %>

