<div class="w-full h-50 mb-10 relative px-16">
  <%= form_with(
    model: Message.new,
    url:,
    class: "w-full h-50",
    data: { turbo: true }
  ) do |form| %>

    <%= form.text_area(
      :content,
      placeholder: "Type your message here",
      class: "w-full
              h-full
              resize-none
              text-noto-18-500
              rounded-xl
              border
              border-grey
              border-2
              bg-grey
              text-white
              pr-16
              py-2
              focus:ring-0
              focus:border-grey-soft"
    ) %>

    <div class="absolute
                h-full
                flex
                justify-center
                items-center
                bottom-0
                right-20
                pb-1
                "
    >
      <%= form.submit(
        ">",
        class: "block w-10 h-10 btn rounded"
      ) %>
    </div>
  <% end %>
</div>