<div class="field">
  <div class="field-header min-w-full">
    <%= form.label model_field, class: "text-white" %>
    <span class="text-red"><%= resource.errors.messages[model_field].first %></span>
  </div>
  <%= form.email_field(
    model_field,
    autofocus: true,
    autocomplete: "email",
    placeholder: placeholder || Faker::Internet.email,
    class: "text-black min-w-full"
  ) %>
</div>
