<div class="field text-black">
  <div class="field-input">
    <%= form.label model_field %><br />
    <%= form.email_field model_field, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field-errors text-white">
    <% email_error = resource.errors.find { |error| error.attribute == model_field } %>
    <%if email_error %>
      <%= email_error.full_message %>
    <% end %>
  </div>
</div>
