<div class="field text-black">
  <div class="field-input">
    <%= form.label model_field %><br />
    <%= form.password_field model_field, autocomplete: "new-password" %>
  </div>
  <div class="field-errors text-white">
    <% password_confirmation_error = resource.errors.find { |error| error.attribute == model_field } %>
    <%if password_confirmation_error %>
      <%= password_confirmation_error.full_message %>
    <% end %>
  </div>
</div>
