<div class="field">
  <div class="field-header min-w-full">
    <%= form.label model_field, class: "text-white" %>
    <% if @minimum_password_length %>
      <em class="text-white">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <span class="text-red"><%= resource.errors.messages[model_field].first %></span>
  </div>
  <%= form.password_field(
    model_field,
    autofocus: true,
    placeholder: placeholder || '******',
    class: "text-black min-w-full"
  ) %>
</div>
