<div class="field font-sans">
  <div class="field-header min-w-full">
    <%= form.label model_field, class: "text-white" %>
    <span class="text-red">
      <%= resource.errors.messages[model_field].first %>
    </span>
  </div>
  <%= form.password_field(
    model_field,
    placeholder: placeholder || '******',
    class: "field-input #{ resource.errors.messages[model_field].first ? 'border-red' : ''}"
  ) %>
</div>
