<div class="field text-black">
  <div class="field-input">
    <%= form.label model_field %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field model_field, autocomplete: "new-password" %>
  </div>
  <div class="field-errors text-white">
    <% password_error = resource.errors.find { |error| error.attribute == model_field } %>
    <%if password_error %>
      <%= password_error.full_message %>
    <% end %>
  </div>
</div>